<div id="navbar" class="navbar-collapse collapse bg-primary navbar-inverse">
          <ul class="nav navbar-nav mr-auto">
            <li class="active nav-item active"><a class="nav-link" href="{% url 'usermanagement:user_profile' %}">Home</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.username}} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'usermanagement:user_profile' %}">My Characters</a></li>
                <li><a href="{% url "usermanagement:circle_list" %}">My campaigns</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{% url "logout" %}">log-out</a></li>

              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if character %}
            <li>
                <img src="{{character.image.url}}" class="img-circle" style="width:40px;height:40px;margin:5px;display:inline-block"/>
            </li>
            <li>
                <a href="#">{{character}}</a>
            </li>
            <li>
              <a> Remaining Karma: {{character.karma}} {%if character.nuyen %} | remaining Nuyen : {{character.nuyen}}{% endif %}</a>
            </li>
            {% endif %}
          </ul>
        </div>
