{% extends "form_template.html" %}
{% load bootstrap3 %}
{% block title %}
  Jackpoint recruitment
{% endblock title %}
{% block formcontent %}
{% endblock formcontent%}
{% block form %}
<form class="form-signin" action="" method = "POST">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
    <button type="submit" class="btn btn-primary">
       Save
    </button>
    <a href="{% url 'persomaker:skill_list' instance.pk %}" class="btn btn-primary">return</a>
  {% endbuttons %}
  </form>
{% endblock form %}
{% block action %}
{% endblock action %}
