<html>
  <head>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/persomaker.css' %}">
  </head>
  <body>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <div class='header'>
      <h1>SHADOWRUN</h1>
    </div>
    <div class='block' style='width:45%;display:inline-block'>
      <ul>
	<li>alias : {{ character.name }}</li>
	<li>metatype : {{ character.metatype }}</li>
	<li>Ethnicity : {{ character.ethnicity }}</li>
	<li>Age : {{ character.age }}</li>
	<li>Sex : {{ character.sex }}</li>
	<li>Height : {{ character.height }}</li>
	<li>Weight : {{ character.weight }}</li>
	<li>Karma : {{ character.karma }}</li>
	<li>Credibility : {{ character.credibility }}</li>
	<li>Notoriety : {{ character.notoriety }}</li>
	<li>Awareness : {{ character.awareness }}</li>
	<li>Nuyen : {{ character.nuyen }}</li>
      </ul>
    </div>
    <div class='block' style='width:45%;display:inline-block'>
      <ul>
	<li><b>Initiative</b></li>
	<li>Physical initiative: {{ character.initiative_physical }}</li>
	<li>AR initiative: {{ character.initiative_ar }}</li>
	<li>VR cold sim initiative: {{ character.initiative_coldsim }}</li>
	<li>VR hot sim initiative: {{ character.initiative_hotsim }}</li>
	<li>Astral initiative: {{ character.initiative_astral }}</li>
	<li><b>Limit</b></li>
	<li>Mental limit: {{ character.limit_mental }}</li>
	<li>Physical limit: {{ character.limit_physical }}</li>
	<li>Social limit: {{ character.limit_social }}</li>
	<li><b>Condition</b></li>
	<li>Physical condition: {{ character.condition_physical }}</li>
	<li>Stun condition: {{ character.condition_stun }}</li>
	<li>Overflow: {{ character.condition_overflow }}</li>
	<li><b>Living personna</b></li>
	<li>Attack: {{ character.living_personna_attack }}</li>
	<li>Data processing: {{ character.living_personna_dataprocessing }}</li>
	<li>Device rating: {{ character.living_personna_devicerating }}</li>
	<li>Firewall: {{ character.living_personna_firewall }}</li>
	<li>Sleeze: {{ character.living_personna_sleeze }}</li>
      </ul>
    </div>
    <div>
      <form action="{% url 'persomaker:creation' character.id  %}" method="post">
	{% csrf_token %}
	Attributes  
	{% for charskill in attribute_set %}
	<div class="attribute" style="width:200px;">
	  <p style="width:130px; display:inline-block">{{ charskill.skill }} <input type="text" name="charskill" id="charskill{{ forloop.counter }}" value="{{ charskill.level }}" style="width:20px"/> / {{ charskill.levelmax }}</p> <input type="submit" value="Vote" />
	</div>
	{% endfor %}
	Skills
	{% for charskill in skill_set %}
	<div class="attribute" style="width:200px;">
	  <p style="width:130px; display:inline-block">{{ charskill.skill }} {{ charskill.level }} / {{ charskill.levelmax }}</p>
	  <input type="button" name="charskill" id="charskill{{ forloop.counter }}" value="-" />
	  <input type="button" name="charskill" id="charskill{{ forloop.counter }}" value="+" />
	</div>
	{% endfor %}
	<input type="submit" value="Vote" />
      </form>
    </div>
  </body>
</html>
