<html>
  <head>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/persomaker.css' %}">
  </head>
  <body>
    <div class='header'>
      <h1>{{character.name}}</h1>
    </div>
    <div><h2>Remaining currency</h2></div>
    <div class=currency' style='display:inline-block'>
      
      {% for key, value in currency.items %}
        {{ key }} : {{value}}<br/>
      {% endfor %}
      
    </div>
    <div><h2>Personnal data</h2></div>
    <div class='personal_data' style='display:inline-block'>
      {%for data in personnal_data%}
      {% endfor %}
    </div>
    <div class='block'>
      <div style = "width:24%;display:inline-block"><b>Initiative</b>
	<div>Physical initiative: {{ character.initiative_physical }}</div>
	<div>AR initiative: {{ character.initiative_ar }}</div>
	<div>VR cold sim initiative: {{ character.initiative_coldsim }}</div>
	<div>VR hot sim initiative: {{ character.initiative_hotsim }}</div>
	<div>Astral initiative: {{ character.initiative_astral }}</div>
      </div>
      <div style = "width:25%;display:inline-block"><b>Limit</b>
	<div>Mental limit: {{ character.limit_mental }}</div>
	<div>Physical limit: {{ character.limit_physical }}</div>
	<div>Social limit: {{ character.limit_social }}</div>
      </div>
      <div style = "width:25%;display:inline-block"><b>Condition</b>
	<div>Physical condition: {{ character.condition_physical }}</div>
	<div>Stun condition: {{ character.condition_stun }}</div>
	<div>Overflow: {{ character.condition_overflow }}</div>
      </div>
      <div style = "width:24%;display:inline-block"><b>Living personna</b>
	<div>Attack: {{ character.living_personna_attack }}</div>
	<div>Data processing: {{ character.living_personna_dataprocessing }}</div>
	<div>Device rating: {{ character.living_personna_devicerating }}</div>
	<div>Firewall: {{ character.living_personna_firewall }}</div>
	<div>Sleeze: {{ character.living_personna_sleeze }}</div>
      </div>
    </div>
    <h2>Attributes</h2>  
    {% for charskill in attribute_set %}
    <div class="attribute" style="width:130px; display:inline-block;">
      <p>{{ charskill.skill }} {{ charskill.level }}  / {{ charskill.levelmax }}</p> 
    </div>
    {% endfor %}
    <h2>Skills</h2>
    {% for charskill in skill_set %}
    <div class="attribute" style="width:130px; display:inline-block;">
      <p>{{ charskill.skill }} {{ charskill.level }}</p>
    </div>
    {% endfor %}
  </body>
</html>
