
{{ character_list }}
<div id='personnal_data'>
  <h2>Personal data</h2>
  <div>{{name}}</div>
  <div>{{karma}}</div>
  <div>{{nuyen}}</div>
</div>

<div id='attribute'>
  <h2>Attribute</h2>
--------------------
  <h3>Body</h3>
  {{Body.items}}<br />
  <h3>Agility</h3>
  {{Agility.items}}<br />
  <h3>Reaction</h3>
  {{Reaction.items}}<br />
  <h3>Strength</h3>
  {{Strength.items}}<br />
  <h3>Charisma</h3>
  {{Charisma.items}}<br />
  <h3>Intuition</h3>
  {{Intuition.items}}<br />
  <h3>Logic</h3>
  {{Logic.items}}<br />
  <h3>Willpower</h3>
  {{Willpower.items}}<br />
  <h3>Essence</h3>
  {{Essence.items}}<br />
--------------------
  <h3>Edge</h3>
  {{Edge.items}}<br />
  <h3>Magic</h3>
  {{Magic.items}}<br />
  <h3>Resonance</h3>
  {{Resonance.items}}<br />
  
</div>
<div id='skills'>
  <h2>Skills</h2>
      

</div>
