{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}
  So, Chummer, what's your name?
{% endblock title %}
{% block content %}
  {% include "ergonomy/submenu.html" %}
  <h2>Character creation condition</h2>
    <b>Creation type:</b> Run faster<br/>
    <b>Credit:</b> 750 karma points</br>
    <form class="form-signin" enctype="multipart/form-data" action="" method = "POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
      <button type="submit" class="btn btn-primary">
         Next
      </button>
    {% endbuttons %}
    </form>
  {% endblock content %}
{% block action %}
{% endblock action %}
