.hexagon {
  display: inline-block;
  position: relative;
  width: 20px; 
  height: 11.55px;
  margin: 5.77px 0;
  border-left: solid 1px #333333;
  border-right: solid 1px #333333;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 14.14px;
  height: 14.14px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 1.9289px;
}

.hexagon:before {
  top: -7.0711px;
  border-top: solid 1.4142px #333333;
  border-right: solid 1.4142px #333333;
}

.hexagon:after {
  bottom: -7.0711px;
  border-bottom: solid 1.4142px #333333;
  border-left: solid 1.4142px #333333;
}