{% extends "base.html" %}
{% block title %} pute details {% endblock title %}
{% block content%}
/////////
<br/>
{% for participant in event.evenement_participant_set.all%}
  {{participant.participant}} // {{participant.get_status_display}} <br/>
  {% with delete_url=participant.delete_url %}
    {% include "agenda/blocks/delete_form.html" %}
  {% endwith %}
{%endfor%}

{% include "agenda/blocks/participant_form.html" %}


{% with delete_url=event.delete_url %}
  {% include "agenda/blocks/delete_form.html" %}
{% endwith %}
{%endblock content%}
