
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Application Tracker</title>
  <meta http-equiv="content-type" content = "text/html;charset=utf-8"/>
</head>
<body>
  <h2>outil de recherche</h2>
    <form method='GET' action = ''>
      <label></label><input type="text" name="start" />
      <label></label><input type="text" name="end" />
      <label></label><input type="text" name="closed" value = 'true' />
      <input type="submit" name="valider" value="filtrer">
  <h2>liste des tickets</h2>
  {% for elem in objects%}
    <h3>
      {% if elem.closed %}
        <s>{{elem}}</s>
      {% else %}
        {{elem}}
      {% endif %}
    </h3>
<p>{{elem.description}}</p>
{% autoescape off %}
<span> due date : {{elem.code_couleur_due_date}}</span>
<span>Schedule date : {{elem.schedule_date}}</span>
{% endautoescape %}
{% endfor %}
</body>
</html>
