{% extends "base.html" %}
{% load bootstrap3 %}
{%block title%}
Connecting database ...
{%endblock title%}

{% block content%}
<div>
//////// Authentification required ////////<br/>
</div>
<div>
  <br/>
  <form class="form-signin" action="" method = "POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    <a href="/user/create_account">Create your account</a> |
    <a href="">forgot your password</a><br/>
    {% buttons %}
      <button type="submit" class="btn btn-primary">
         Submit
      </button>
    {% endbuttons %}
  </form>
</div>
{% endblock content%}
